/*Fonts styles*/
.fontTitleNormalAboutMe {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontTitleBoldAboutMe {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontTitleExtraBoldAboutMe {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontBodyNormalAboutMe {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontBodyBoldAboutMe {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontBodyExtraBoldAboutMe {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

/*Screen styles*/
.aboutme {
    position: relative;
    min-Height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 69px;
}

.aboutme-title {
    z-index: 0;
    margin: 60px 6% 40px 6%;
    color: white;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.aboutme-title p {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
    margin: 0;
}

.aboutme-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 6% 20px 6%;
}

.overview-aboutme {
    background-color: rgba(26, 26, 26, 0.7);
    z-index: 0;
    border-radius: 10px;
    width: 50%;
    padding: 25px 25px 0 25px;
}

.typewriterWrapper {
    font-family: "Space Mono";
    font-size: 20px;
    color: #47CDD6;
    font-weight: 700;
}

.typewriterCursor {
    font-family: "Space Mono";
    font-size: 20px;
    color: #47CDD6;
}

.img-astro-aboutme {
    height: 400px;
    width: 400px;
    z-index: 0;
    position: relative;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(30px);
    }
}

@media (min-width: 481px) and (max-width: 824px) {
    .fontTitleNormalAboutMe {
        font-size: 17px;
    }

    .fontTitleBoldAboutMe {
        font-size: 17px;
    }

    .fontTitleExtraBoldAboutMe {
        font-size: 17px;
    }

    .fontBodyNormalAboutMe {
        font-size: 17px;
    }

    .fontBodyBoldAboutMe {
        font-size: 17px;
    }

    .fontBodyExtraBoldAboutMe {
        font-size: 17px;
    }

    .aboutme-title {
        font-size: 32.5px;
        margin: 50px 6% 40px 6%;
    }

    .aboutme-title p {
        font-size: 17px;
    }

    .aboutme-content {
        flex-direction: column-reverse;
    }

    .overview-aboutme {
        width: 80%;
        padding: 15px 15px 0 15px;
    }

    .typewriterWrapper {
        font-size: 17px;
    }

    .typewriterCursor {
        font-size: 17px;
    }

    .img-astro-aboutme {
        height: 275px;
        width: 240px;
        padding-bottom: 30px;
    }

    @keyframes bounce {
        0% {
            transform: translateY(20px);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(20px);
        }
    }
}

@media (min-width: 391px) and (max-width: 480px) {
    .fontTitleNormalAboutMe {
        font-size: 15px;
    }

    .fontTitleBoldAboutMe {
        font-size: 15px;
    }

    .fontTitleExtraBoldAboutMe {
        font-size: 15px;
    }

    .fontBodyNormalAboutMe {
        font-size: 15px;
    }

    .fontBodyBoldAboutMe {
        font-size: 15px;
    }

    .fontBodyExtraBoldAboutMe {
        font-size: 15px;
    }

    .aboutme-title {
        font-size: 25px;
        margin: 40px 6% 40px 6%;
    }

    .aboutme-title p {
        font-size: 15px;
    }

    .aboutme-content {
        flex-direction: column-reverse;
    }

    .overview-aboutme {
        width: 90%;
        padding: 10px 10px 0 10px;
    }

    .typewriterWrapper {
        font-size: 15px;
    }

    .typewriterCursor {
        font-size: 15px;
    }

    .img-astro-aboutme {
        height: 225px;
        width: 200px;
        padding-bottom: 30px;
    }

    @keyframes bounce {
        0% {
            transform: translateY(20px);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(20px);
        }
    }
}

@media (max-width: 390px) {
    .fontTitleNormalAboutMe {
        font-size: 12px;
    }

    .fontTitleBoldAboutMe {
        font-size: 12px;
    }

    .fontTitleExtraBoldAboutMe {
        font-size: 12px;
    }

    .fontBodyNormalAboutMe {
        font-size: 12px;
    }

    .fontBodyBoldAboutMe {
        font-size: 12px;
    }

    .fontBodyExtraBoldAboutMe {
        font-size: 12px;
    }

    .aboutme-title {
        font-size: 22px;
        margin: 40px 6% 40px 6%;
    }

    .aboutme-title p {
        font-size: 12px;
    }

    .aboutme-content {
        flex-direction: column-reverse;
    }

    .overview-aboutme {
        width: 90%;
        padding: 10px 10px 0 10px;
    }

    .typewriterWrapper {
        font-size: 12px;
    }

    .typewriterCursor {
        font-size: 12px;
    }

    .img-astro-aboutme {
        height: 200px;
        width: 175px;
        padding-bottom: 40px;
    }

    @keyframes bounce {
        0% {
            transform: translateY(20px);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(20px);
        }
    }
}