.alert-title {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 23px;
}

.alert-content {
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
}

.alert-action {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 23px;
    background-color: #1A1B1B !important;
    border-radius: 0.75rem;
    border: 2px solid #47CDD6 !important;
    color: white !important;
    transition: background-color 0.3s ease;
    box-shadow: none !important;
}

.alert-action:hover {
    background-color: #47CDD6 !important; 
}

.swal2-container {
    backdrop-filter: blur(10px);
}

@media (min-width: 481px) and (max-width: 824px) {
    .alert-title {
        font-size: 22px;
    }
    
    .alert-content {
        font-size: 18px;
    }

    .alert-action {
        font-size: 21px;
    }
}

@media (min-width: 391px) and (max-width: 480px) {
    .alert-title {
        font-size: 21px;
    }
    
    .alert-content {
        font-size: 15px;
    }

    .alert-action {
        font-size: 19px;
    }
}

@media (max-width: 390px) {
    .alert-title {
        font-size: 20px;
    }
    
    .alert-content {
        font-size: 12px;
    }

    .alert-action {
        font-size: 16px;
    }
}