/*Fonts styles*/
.fontTitleNormalContactMe {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontTitleBoldContactMe {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontTitleExtraBoldContactMe {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontBodyNormalContactMe {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontBodyBoldContactMe {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontBodyExtraBoldContactMe {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

/*Screen styles*/
.contactme {
    position: relative;
    min-Height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 69px;
}

.contactme-title {
    z-index: 0;
    margin: 60px 6% 40px 6%;
    color: white;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contactme-title p {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
    margin: 0;
}

.contactme-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 6% 20px 6%;
}

.form-contactme {
    z-index: 0;
    background-color: rgba(26, 26, 26, 0.7);
    border-radius: 10px;
    width: 50%;
    padding: 25px 25px 25px 25px;
}

/* Style par défaut pour .input */
.input {
    background-color: #2a2a2a;
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 0.5rem;
    outline: none;
    border: none;
}

.input::placeholder {
    color: grey;
}

/* Surcharge de l'apparence par défaut de l'auto-complétion */
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 30px #2a2a2a inset !important;
}

.submit {
    background-color: #1A1B1B;
    padding: 0.75rem 2rem;
    border-radius: 0.75rem;
    border: 2px solid #47CDD6;
    outline: none;
    width: fit-content;
    align-self: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.submit:hover {
    background-color: #47CDD6
}

.image-container {
    position: relative;
    width: 400px;
    height: 400px;
}

.static-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    transform: translate(-50%, -50%);
}

.animated-image {
    position: absolute;
    top: 5%;
    right: 0%;
    width: 120px;
    height: 120px;
    opacity: 1;
    animation-name: fadeAnimation, shineEffect;
    animation-duration: 4s, 2s;
    animation-iteration-count: infinite, infinite;
    animation-delay: 0s, 0s;
}

@keyframes fadeAnimation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  @keyframes shineEffect {
    0%, 100% {
        filter: brightness(1.25);
    }
    50% {
        filter: brightness(1);
    }
}
  
@media (min-width: 481px) and (max-width: 824px) {
    .fontTitleNormalContactMe {
        font-size: 17px;
    }

    .fontTitleBoldContactMe {
        font-size: 17px;
    }

    .fontTitleExtraBoldContactMe {
        font-size: 17px;
    }

    .fontBodyNormalContactMe {
        font-size: 17px;
    }

    .fontBodyBoldContactMe {
        font-size: 17px;
    }

    .fontBodyExtraBoldContactMe {
        font-size: 17px;
    }

    .contactme-title {
        margin: 50px 6% 40px 6%;
        font-size: 32.5px;
    }

    .contactme-title p {
        font-size: 17px;
    }

    .contactme-content {
        flex-direction: column-reverse;
    }

    .form-contactme {
        width: 80%;
        padding: 15px 15px 15px 15px;
    }

    .image-container {
        width: 350px;
        height: 350px;
    }

    .static-image {
        width: 300px;
        height: 300px;
    }

    .animated-image {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 391px) and (max-width: 480px) {
    .fontTitleNormalContactMe {
        font-size: 15px;
    }

    .fontTitleBoldContactMe {
        font-size: 15px;
    }

    .fontTitleExtraBoldContactMe {
        font-size: 15px;
    }

    .fontBodyNormalContactMe {
        font-size: 15px;
    }

    .fontBodyBoldContactMe {
        font-size: 15px;
    }

    .fontBodyExtraBoldContactMe {
        font-size: 15px;
    }

    .contactme-title {
        margin: 40px 6% 40px 6%;
        font-size: 25px;
    }

    .contactme-title p {
        font-size: 15px;
    }

    .contactme-content {
        flex-direction: column-reverse;
    }

    .form-contactme {
        width: 90%;
        padding: 10px 10px 10px 10px;
    }

    .image-container {
        width: 300px;
        height: 300px;
    }

    .static-image {
        width: 250px;
        height: 250px;
    }

    .animated-image {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 390px) {
    .fontTitleNormalContactMe {
        font-size: 12px;
    }

    .fontTitleBoldContactMe {
        font-size: 12px;
    }

    .fontTitleExtraBoldContactMe {
        font-size: 12px;
    }

    .fontBodyNormalContactMe {
        font-size: 12px;
    }

    .fontBodyBoldContactMe {
        font-size: 12px;
    }

    .fontBodyExtraBoldContactMe {
        font-size: 12px;
    }

    .contactme-title {
        margin: 40px 6% 40px 6%;
        font-size: 22px;
    }

    .contactme-title p {
        font-size: 12px;
    }

    .contactme-content {
        flex-direction: column-reverse;
    }

    .form-contactme {
        width: 90%;
        padding: 10px 10px 10px 10px;
    }

    .image-container {
        width: 250px;
        height: 250px;
    }

    .static-image {
        width: 200px;
        height: 200px;
    }

    .animated-image {
        width: 60px;
        height: 60px;
        top: 10%;
        right: 2%;
    }
}