/*Fonts styles*/
.fontTitleNormalExperiences {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontTitleBoldExperiences {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontTitleExtraBoldExperiences {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontBodyNormalExperiences {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontBodyBoldExperiences {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontBodyExtraBoldExperiences {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

/*Screen styles*/
.experiences {
    display: flex;
    width: 100%;
    background-clip: padding-box;
    border: 1px solid rgba(2, 2, 13, 1);
    flex-direction: column;
    padding-top: 69px;
}

.experiences-title {
    z-index: 0;
    margin: 60px 6% 40px 6%;
    color: white;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.experiences-title p {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
    margin: 0;
}

.experiences-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 6% 20px 6%;
}

.vertical-timeline-element-content {
    box-shadow: 0 3px 0px 0px #47CDD6 !important;
}

@media (min-width: 481px) and (max-width: 824px) {
    .fontTitleNormalExperiences {
        font-size: 17px;
    }

    .fontTitleBoldExperiences {
        font-size: 17px;
    }

    .fontTitleExtraBoldExperiences {
        font-size: 17px;
    }

    .fontBodyNormalExperiences {
        font-size: 17px;
    }

    .fontBodyBoldExperiences {
        font-size: 17px;
    }

    .fontBodyExtraBoldExperiences {
        font-size: 17px;
    }

    .experiences-title {
        margin: 50px 6% 40px 6%;
        font-size: 32.5px;
    }

    .experiences-title p {
        font-size: 17px;
    }
}

@media (min-width: 391px) and (max-width: 480px) {
    .fontTitleNormalExperiences {
        font-size: 15px;
    }

    .fontTitleBoldExperiences {
        font-size: 15px;
    }

    .fontTitleExtraBoldExperiences {
        font-size: 15px;
    }

    .fontBodyNormalExperiences {
        font-size: 15px;
    }

    .fontBodyBoldExperiences {
        font-size: 15px;
    }

    .fontBodyExtraBoldExperiences {
        font-size: 15px;
    }

    .experiences-title {
        margin: 40px 6% 40px 6%;
        font-size: 25px;
    }

    .experiences-title p {
        font-size: 15px;
    }
}

@media (max-width: 390px) {
    .fontTitleNormalExperiences {
        font-size: 12px;
    }

    .fontTitleBoldExperiences {
        font-size: 12px;
    }

    .fontTitleExtraBoldExperiences {
        font-size: 12px;
    }

    .fontBodyNormalExperiences {
        font-size: 12px;
    }

    .fontBodyBoldExperiences {
        font-size: 12px;
    }

    .fontBodyExtraBoldExperiences {
        font-size: 12px;
    }

    .experiences-title {
        margin: 40px 6% 40px 6%;
        font-size: 22px;
    }

    .experiences-title p {
        font-size: 12px;
    }
}