/*Fonts styles*/
.fontTitleNormalHome3D {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 23px;
}

.fontTitleBoldHome3D {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 23px;
}

.fontTitleExtraBoldHome3D {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 23px;
}

.fontBodyNormalHome3D {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 23px;
}

.fontBodyBoldHome3D {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 23px;
}

.fontBodyExtraBoldHome3D {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 23px;
}

/*Screen styles*/
.App-header {
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
}

.title-header {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
    text-align: start;
    margin-left: 10px;
}

.language-switcher {
    font-size: 15px;
    font-weight: 700;
    font-family: "Space Mono";
    cursor: pointer;
}

.span-language {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.flag {
    height: 16px;
    width: 16px;
    margin-right: 6px;
}

.parent {
    position: relative;
    background-color: #02020D;
    background-clip: padding-box;
    border: 1px solid rgba(2, 2, 13, 1);
    height: 100vh;
    width: 100vw;
    display: inline-block;
    overflow: hidden;
}

.overview-content {
    width: 50%;
    margin-top: 100px;
    margin-left: 5%;
}

.hello-title {
    color: white;
    font-size: 26px;
    font-family: 'Space Mono';
    font-weight: 600;
}

.name {
    color: #47CDD6;
    font-size: 26px;
    font-family: 'Space Mono';
    font-weight: 600;
}

.wave {
    animation-name: wave;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.scroll-content {
    color: white;
    font-size: 18px;
    font-family: 'Space Mono';
    font-weight: 400;
    text-align: center;
}

.field {
    margin: 10px;
}

.mouse {
    width: 20px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 60px;
    position: relative;
}

.mouse::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
    0% {
        opacity: 1;
        bottom: 5px;
    }

    50% {
        opacity: 1;
        bottom: 25px;
    }

    100% {
        opacity: 1;
        bottom: 5px;
    }
}

@-webkit-keyframes wheel {
    0% {
        opacity: 1;
        bottom: 5px;
    }

    50% {
        opacity: 1;
        bottom: 25px;
    }

    100% {
        opacity: 1;
        bottom: 5px;
    }
}

.container-btns {
    display: flex;
    margin-top: 40px;
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
}



.icon-contact-linkedin {
    color: red;
    font-size: 3rem; /* Adjust this value to control the size */
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 150px;
}

.element {
    position: relative;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.roundButton-not-hovered {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: #1A1B1B;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}


.roundButton-hovered {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: #5DADD2;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}


.roundButton-hovered .icon-contact-github {
    color: #1A1B1B;
}

.roundButton-hovered .icon-contact-linkedin {
    color: #1A1B1B;
}

.roundButton-hovered .icon-contact-download {
    color: #1A1B1B;
}

.black-hole span {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(77.28deg, #47CDD6 2.24%, rgba(157, 77, 196, 1) 104.45%);
    animation: animate 6s linear infinite;
}

.black-hole span:nth-child(1) {
    filter: blur(1px);
}

.black-hole span:nth-child(2) {
    filter: blur(3px);
}

.black-hole span:nth-child(3) {
    filter: blur(7px);
}

.black-hole span:nth-child(4) {
    filter: blur(15px);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 551px) and (max-width: 824px),
(min-height: 601px) and (max-height: 700px) {
    .fontTitleNormalHome3D {
        font-size: 20px;
    }

    .fontTitleBoldHome3D {
        font-size: 20px;
    }

    .fontTitleExtraBoldHome3D {
        font-size: 20px;
    }

    .fontBodyNormalHome3D {
        font-size: 20px;
    }

    .fontBodyBoldHome3D {
        font-size: 20px;
    }

    .fontBodyExtraBoldHome3D {
        font-size: 20px;
    }

    .title-header {
        font-size: 17px;
    }

    .language-switcher {
        font-size: 15px;
    }

    .overview-content {
        margin-top: 80px;
        width: 90%;
    }

    .hello-title {
        font-size: 23px;
    }

    .name {
        font-size: 23px;
    }

    .scroll-content {
        font-size: 16px;
    }

    .mouse {
        width: 20px;
        height: 35px;
    }

    .mouse::before {
        width: 10px;
        height: 10px;
    }

    .element {
        width: 40px;
        height: 40px;
    }

    .icon-contact-github {
        color: white;
        height: 25px;
        width: 25px;
    }
    
    .icon-contact-linkedin {
        color: white;
        height: 20px;
        width: 20px;
    }
    
    .icon-contact-download {
        color: white;
        height: 20px;
        width: 20px;
    }

    .titleContainer {
        font-size: 14px;
    }

    .titleContainer-mobile {
        font-size: 14px;
    }

    .container-btns {
        margin-top: 35px;
    }

    .container {
        width: 130px;
    }

    @keyframes wheel {
        0% {
            opacity: 1;
            bottom: 5px;
        }

        50% {
            opacity: 1;
            bottom: 20px;
        }

        100% {
            opacity: 1;
            bottom: 5px;
        }
    }

    @-webkit-keyframes wheel {
        0% {
            opacity: 1;
            bottom: 5px;
        }

        50% {
            opacity: 1;
            bottom: 20px;
        }

        100% {
            opacity: 1;
            bottom: 5px;
        }
    }
}

@media (min-width: 371px) and (max-width: 550px),
(min-height: 501px) and (max-height: 600px) {
    .fontTitleNormalHome3D {
        font-size: 17px;
    }

    .fontTitleBoldHome3D {
        font-size: 17px;
    }

    .fontTitleExtraBoldHome3D {
        font-size: 17px;
    }

    .fontBodyNormalHome3D {
        font-size: 17px;
    }

    .fontBodyBoldHome3D {
        font-size: 17px;
    }

    .fontBodyExtraBoldHome3D {
        font-size: 17px;
    }

    .title-header {
        font-size: 15px;
    }

    .language-switcher {
        font-size: 12px;
    }

    .overview-content {
        margin-top: 70px;
        width: 90%;
    }

    .hello-title {
        font-size: 20px;
    }

    .name {
        font-size: 20px;
    }

    .scroll-content {
        font-size: 14px;
    }

    .mouse {
        width: 15px;
        height: 25px;
    }

    .mouse::before {
        width: 8px;
        height: 8px;
    }

    .element {
        width: 35px;
        height: 35px;
    }

    .icon-contact-github {
        color: white;
        height: 22px;
        width: 22px;
    }
    
    .icon-contact-linkedin {
        color: white;
        height: 17px;
        width: 17px;
    }
    
    .icon-contact-download {
        color: white;
        height: 17px;
        width: 17px;
    }

    .titleContainer {
        font-size: 13px;
    }

    .titleContainer-mobile {
        font-size: 13px;
    }

    .container-btns {
        margin-top: 30px;
    }

    .container {
        width: 110px;
    }

    @keyframes wheel {
        0% {
            opacity: 1;
            bottom: 5px;
        }

        50% {
            opacity: 1;
            bottom: 15px;
        }

        100% {
            opacity: 1;
            bottom: 5px;
        }
    }

    @-webkit-keyframes wheel {
        0% {
            opacity: 1;
            bottom: 5px;
        }

        50% {
            opacity: 1;
            bottom: 15px;
        }

        100% {
            opacity: 1;
            bottom: 5px;
        }
    }
}

@media (max-width: 370px),
(max-height: 500px) {
    .fontTitleNormalHome3D {
        font-size: 13px;
    }

    .fontTitleBoldHome3D {
        font-size: 13px;
    }

    .fontTitleExtraBoldHome3D {
        font-size: 13px;
    }

    .fontBodyNormalHome3D {
        font-size: 13px;
    }

    .fontBodyBoldHome3D {
        font-size: 13px;
    }

    .fontBodyExtraBoldHome3D {
        font-size: 13px;
    }

    .language-switcher {
        font-size: 12px;
    }

    .overview-content {
        margin-top: 70px;
        width: 95%;
    }

    .hello-title {
        font-size: 15px;
    }

    .name {
        font-size: 15px;
    }

    .scroll-content {
        font-size: 12px;
    }

    .mouse {
        width: 15px;
        height: 25px;
    }

    .mouse::before {
        width: 8px;
        height: 8px;
    }

    .element {
        width: 30px;
        height: 30px;
    }

    .icon-contact-github {
        color: white;
        height: 20px;
        width: 20px;
    }
    
    .icon-contact-linkedin {
        color: white;
        height: 15px;
        width: 15px;
    }
    
    .icon-contact-download {
        color: white;
        height: 15px;
        width: 15px;
    }

    .titleContainer {
        font-size: 12px;
    }

    .titleContainer-mobile {
        font-size: 12px;
    }

    .container-btns {
        margin-top: 20px;
    }

    .container {
        width: 90px;
    }

    @keyframes wheel {
        0% {
            opacity: 1;
            bottom: 5px;
        }

        50% {
            opacity: 1;
            bottom: 15px;
        }

        100% {
            opacity: 1;
            bottom: 5px;
        }
    }

    @-webkit-keyframes wheel {
        0% {
            opacity: 1;
            bottom: 5px;
        }

        50% {
            opacity: 1;
            bottom: 15px;
        }

        100% {
            opacity: 1;
            bottom: 5px;
        }
    }
}

@media (max-width: 440px) {
    .title-header {
        font-size: 13px;
        width: min-content;
    }

    .language {
        display: none;
    }

    .span-language {
        justify-content: center;
    }
    
    .flag {
        margin-right: 0;
    }
}