/*Fonts styles*/
.fontTitleNormalProjects {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontTitleBoldProjects {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontTitleExtraBoldProjects {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontBodyNormalProjects {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.fontBodyBoldProjects {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.fontBodyExtraBoldProjects {
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

/*Screen styles*/
.projects {
    display: flex;
    background-clip: padding-box;
    border: 1px solid rgba(2, 2, 13, 1);
    flex-direction: column;
}

.projects-content-pro {
    padding-top: 69px;
}

.projects-content-perso {
    padding-top: 69px;
    padding-bottom: 20px;
}

.projects-title {
    z-index: 0;
    margin: 60px 6% 40px 6%;
    color: white;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.projects-title p {
    font-family: 'Space Mono';
    font-weight: 400;
    color: white;
    font-size: 20px;
    margin: 0;
}

.container-caroussel {
    display: flex;
    background-clip: padding-box;
    border: 1px solid rgba(2, 2, 13, 1);
    min-height: 500px;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-arrow-icon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
}

.arrow-icon-hover {
    height: 55px;
    width: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1;
    cursor: pointer;
}

.arrow-icon-hover:hover {
    background-color: rgba(71, 205, 214, 0.3)
}

.arrow-icon-hover-mobile {
    height: 55px;
    width: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(71, 205, 214, 0.3);
    z-index: 1;
}

.arrow-icon {
    height: 35px;
    width: 35px;
    color: white;
}

.container-slides {
    width: 50%;
    z-index: 0;
}

.slide {
    position: relative;
    display: flex;
    height: 450px;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.content-slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.5);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    flex-direction: column;
}

.content-slide:hover {
    opacity: 1;
}

.content-slide h2 {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 23px;
    color: white;
    margin: 30px 15px 15px 15px;
}

.content-slide p {
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 15px 15px 30px 15px;
    overflow: hidden;
}

.content-slide-mobile {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.5);
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    flex-direction: column;
}

.content-slide-mobile h2 {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 23px;
    color: white;
    margin: 30px 15px 15px 15px;
}

.content-slide-mobile p {
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 15px 15px 30px 15px;
    overflow: hidden;
}

.overlay-animated-item-project {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(2, 2, 13, 0.5);
    z-index: 999;
}

.image-hover-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

/* Container */
.image-hover-container .container {
    position: relative;
    min-height: 250px;
    height: 60%;
    width: 20%;
    margin: auto;
    display: flex;
}

/* Middle */
.image-hover-container .container .middle {
    position: absolute;
    z-index: 1000;
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.6);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Positions for bottom and top elements */
.image-hover-container .container .top-left {
    position: absolute;
    z-index: 1000;
    height: 50%;
    width: 100%;
    background-color: rgba(26, 26, 26, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.image-hover-container .container .bottom-left {
    position: absolute;
    z-index: 1000;
    height: 50%;
    width: 100%;
    background-color: rgba(26, 26, 26, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.image-hover-container .container .bottom-right {
    position: absolute;
    z-index: 1000;
    height: 70%;
    width: 100%;
    background-color: rgba(26, 26, 26, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


/* Updated animations for the positions */
.image-hover-container .container .top-left {
    animation: moveTopLeft 800ms forwards;
}

.image-hover-container .container .bottom-right {
    animation: moveBottomRight 800ms forwards;
}

.image-hover-container .container .bottom-left {
    animation: moveBottomLeft 800ms forwards;
}

@keyframes moveTopLeft {
    0% {
        top: 0;
        left: 0;
    }

    100% {
        top: -10%;
        left: -90%;
    }
}

@keyframes moveBottomLeft {
    0% {
        top: 0;
        left: 0;
    }

    100% {
        top: 60%;
        left: -90%;
    }
}

@keyframes moveBottomRight {
    0% {
        top: 0;
        left: 0;
    }

    100% {
        top: 35%;
        left: 90%;
    }
}

.icon-close-project {
    color: white;
    height: 30px;
    width: 30px;
}

.icon-close-hover-project {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    height: 35px;
    width: 35px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 60px;
}

.icon-close-hover-project:hover {
    height: 35px;
    width: 35px;
    border-radius: 60px
}

.item-img-project {
    max-width: 60%;
    height: auto;
    border-radius: 15px;
}

.title-context-item-project {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 5% 0 5% 5%;
}

.content-context-item-project {
    display: flex;
    margin: 0 5% 5% 5%;
    padding: 0 5px 0 0;
    overflow-y: auto;
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 20px;
    color: white;
    white-space: pre-line;
}

.title-challenges-item-project {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 5% 0 5% 5%;
}

.content-challenges-item-project {
    display: flex;
    margin: 0 5% 5% 5%;
    padding: 0;
    overflow-y: auto;
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 20px;
    color: white;
    white-space: pre-line;
}

.title-results-item-project {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 5% 0 5% 5%;
}

.content-results-item-project {
    display: flex;
    margin: 0 5% 5% 5%;
    padding: 0;
    overflow-y: auto;
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 20px;
    color: white;
    white-space: pre-line;
}

.btn-repository-project {
    margin-top: 15px;
    padding: 3% 6%;
    border-radius: 10px;
    outline: none;
    width: fit-content;
    align-self: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: 'Space Mono';
    font-weight: 700;
    color: white;
    font-size: 20px;
}

@media (min-width: 481px) and (max-width: 824px) {
    .fontTitleNormalProjects {
        font-size: 17px;
    }

    .fontTitleBoldProjects {
        font-size: 17px;
    }

    .fontTitleExtraBoldProjects {
        font-size: 17px;
    }

    .fontBodyNormalProjects {
        font-size: 17px;
    }

    .fontBodyBoldProjects {
        font-size: 17px;
    }

    .fontBodyExtraBoldProjects {
        font-size: 17px;
    }

    .projects-title {
        margin: 50px 6% 40px 6%;
        font-size: 32.5px;
    }

    .projects-title p {
        font-size: 17px;
    }

    .container-caroussel {
        min-height: 550px;
    }

    .arrow-icon-hover {
        height: 45px;
        width: 45px;
    }

    .arrow-icon-hover-mobile {
        height: 45px;
        width: 45px;
    }

    .arrow-icon {
        height: 25px;
        width: 25px;
    }

    .container-slides {
        width: 65%;
    }

    .slide {
        height: 400px;
        width: 350px;
    }

    .content-slide h2 {
        font-size: 20px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide p {
        font-size: 17px;
        margin: 10px 10px 20px 10px;
    }

    .content-slide-mobile h2 {
        font-size: 20px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide-mobile p {
        font-size: 17px;
        margin: 10px 10px 20px 10px;
    }

    .icon-close-project {
        height: 25px;
        width: 25px;
    }

    .icon-close-hover-project {
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
    }

    .icon-close-hover-project:hover {
        height: 30px;
        width: 30px;
    }

    .image-hover-container .container {
        height: 60%;
        width: 30%;
    }

    .title-context-item-project {
        font-size: 17px;
    }

    .title-challenges-item-project {
        font-size: 17px;
    }

    .title-results-item-project {
        font-size: 17px;
    }

    .content-context-item-project {
        font-size: 17px;
    }

    .content-challenges-item-project {
        font-size: 17px;
    }

    .content-results-item-project {
        font-size: 17px;
    }

    .btn-repository-project {
        font-size: 17px;
    }
}

@media (min-width: 391px) and (max-width: 480px) {
    .fontTitleNormalProjects {
        font-size: 15px;
    }

    .fontTitleBoldProjects {
        font-size: 15px;
    }

    .fontTitleExtraBoldProjects {
        font-size: 15px;
    }

    .fontBodyNormalProjects {
        font-size: 15px;
    }

    .fontBodyBoldProjects {
        font-size: 15px;
    }

    .fontBodyExtraBoldProjects {
        font-size: 15px;
    }

    .projects-title {
        margin: 40px 6% 40px 6%;
        font-size: 25px;
    }

    .projects-title p {
        font-size: 15px;
    }

    .container-caroussel {
        min-height: 275px;
    }

    .arrow-icon-hover {
        height: 40px;
        width: 40px;
    }

    .arrow-icon-hover-mobile {
        height: 40px;
        width: 40px;
    }

    .arrow-icon {
        height: 20px;
        width: 20px;
    }

    .container-slides {
        width: 80%;
    }

    .slide {
        height: 225px;
        width: 250px;
    }

    .content-slide h2 {
        font-size: 18px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide p {
        font-size: 15px;
        margin: 10px 10px 20px 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    .content-slide-mobile h2 {
        font-size: 18px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide-mobile p {
        font-size: 15px;
        margin: 10px 10px 20px 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    .icon-close-project {
        height: 20px;
        width: 20px;
    }

    .icon-close-hover-project {
        top: 0;
        right: 0;
        height: 25px;
        width: 25px;
    }

    .icon-close-hover-project:hover {
        height: 25px;
        width: 25px;
    }

    .image-hover-container .container {
        height: 50%;
        width: 30%;
    }

    .title-context-item-project {
        font-size: 15px;
    }

    .title-challenges-item-project {
        font-size: 15px;
    }

    .title-results-item-project {
        font-size: 15px;
    }

    .content-context-item-project {
        font-size: 15px;
    }

    .content-challenges-item-project {
        font-size: 15px;
    }

    .content-results-item-project {
        font-size: 15px;
    }

    .btn-repository-project {
        font-size: 15px;
        border-radius: 5px;
    }
}

@media (max-width: 390px) {
    .fontTitleNormalProjects {
        font-size: 12px;
    }

    .fontTitleBoldProjects {
        font-size: 12px;
    }

    .fontTitleExtraBoldProjects {
        font-size: 12px;
    }

    .fontBodyNormalProjects {
        font-size: 12px;
    }

    .fontBodyBoldProjects {
        font-size: 12px;
    }

    .fontBodyExtraBoldProjects {
        font-size: 12px;
    }

    .projects-title {
        margin: 40px 6% 40px 6%;
        font-size: 22px;
    }

    .projects-title p {
        font-size: 12px;
    }

    .container-caroussel {
        min-height: 250px;
    }

    .arrow-icon-hover {
        height: 30px;
        width: 30px;
    }

    .arrow-icon-hover-mobile {
        height: 30px;
        width: 30px;
    }

    .arrow-icon {
        height: 15px;
        width: 15px;
    }

    .container-slides {
        width: 80%;
    }

    .slide {
        height: 200px;
        width: 200px;
    }

    .content-slide h2 {
        font-size: 15px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide p {
        font-size: 12px;
        margin: 10px 10px 20px 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    .content-slide-mobile h2 {
        font-size: 15px;
        margin: 20px 10px 10px 10px;
    }

    .content-slide-mobile p {
        font-size: 12px;
        margin: 10px 10px 20px 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    .icon-close-project {
        height: 15px;
        width: 15px;
    }

    .icon-close-hover-project {
        top: 0;
        right: 0;
        height: 20px;
        width: 20px;
    }

    .icon-close-hover-project:hover {
        height: 20px;
        width: 20px;
    }

    .image-hover-container .container {
        height: 40%;
        width: 30%;
    }

    .title-context-item-project {
        font-size: 12px;
    }

    .title-challenges-item-project {
        font-size: 12px;
    }

    .title-results-item-project {
        font-size: 12px;
    }

    .content-context-item-project {
        font-size: 12px;
    }

    .content-challenges-item-project {
        font-size: 12px;
    }

    .content-results-item-project {
        font-size: 12px;
    }

    .btn-repository-project {
        font-size: 12px;
        border-radius: 5px;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social-icon {
    margin: 0 10px;
    font-size: 1.8rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #0077b5; /* Change color on hover (e.g., blue for LinkedIn) */
}